/* body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.card {
    width: 90%;
    max-width: 320px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

.card-img img {
    width: 100%;
    border-radius: 15px;
}

.card-content h1 {
    color: hsl(218, 44%, 22%);
    max-width: 80%;
    margin: 10px auto 0;

}

.card-content p {
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    font-weight: 400;
} */

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);
    --Slate-300: hsl(212, 45%, 89%);

    --border-radius: 20px;

    --font-size: 15px;

    --Outfit: "Outfit", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    background-color: var(--Slate-300);
    justify-content: center;
    align-items: center;
    font-family: var(--Outfit);
    margin: 0;
}

.card {
    background-color: white;
    width: 320px;
    border-radius: var(--border-radius);
    padding: 16px 16px 40px 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

picture img {
    width: 100%;
    border-radius: calc(var(--border-radius) - 10px);
}

.card-content h3 {
    color: var(--Slate-900);
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 0;
}

.card-content p {
    color: var(--Slate-500);
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.2px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 16px;
    margin-bottom: 0;
}